<%- include('../inc/header-user.ejs') %>
<div style="margin-top: 80px; height: 100vh; margin-left: 320px; flex: 1">
  <div class="input-form">
    <h3 style="text-align: center">Sửa Sản Phẩm</h3>
    <form
      enctype="multipart/form-data"
      method="POST"
      action="http://localhost:3000/api/product/editProduct/<%= product._id %>"
    >
      <div class="mb-3 mt-4">
        <label class="form-label">Tên Sản Phẩm:</label>
        <input
          class="form-control"
          required
          placeholder="<%= product.name %>"
          name="name"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Gía Gốc:</label>
        <input
          class="form-control"
          required
          type="number"
          placeholder="<%= product.realPrice %>"
          name="realPrice"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Gía Khuyến Mãi:</label>
        <input
          class="form-control"
          required
          type="number"
          placeholder="<%= product.discountPrice %>"
          name="discountPrice"
        />
      </div>
      <label class="form-label">Loại Sản Phẩm:</label>

      <div style="display: flex" class="radio-group">
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="category"
            value="tra sua"
            checked
          />Trà Sữa
          <label class="form-check-label" for="radio1"></label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="category"
            value="com"
          />Cơm
          <label class="form-check-label" for="radio2"></label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="category"
            value="bun"
          />Bún
          <label class="form-check-label"></label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="category"
            value="ga"
          />Gà
          <label class="form-check-label"></label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="category"
            value="douong"
          />Đồ uống
          <label class="form-check-label"></label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="category"
            value="banhmi"
          />Bánh mì
          <label class="form-check-label"></label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="category"
            value="bo"
          />Bò
          <label class="form-check-label"></label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Chọn ảnh mới</label>
        <input type="file" class="form-control" required name="image" />
      </div>
      <div class="mb-3">
        <label class="form-label">Còn trong giỏ hàng</label>
        <input
          required
          type="number"
          class="form-control"
          placeholder="<%= product.quantityInStock %>"
          name="quantityInStock"
        />
      </div>
      <button type="submit" class="btn btn-primary">Sửa Sản Phẩm</button>
    </form>
  </div>
</div>

<%- include('../inc/footer.ejs') %>
